main {
  background-color: hsl(20, 50%, 98%);
  padding: 8.8rem 11.2rem;
  display: grid;
  grid-template-columns: auto 38.4rem;
  column-gap: 3.2rem;
  align-items: start;
  min-height: 100vh;
}

@media (max-width: 1320px) {
  main {
    padding: 4rem;
  }
}

@media (max-width: 940px) {
  main {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }
}

@media (max-width: 400px) {
  main {
    padding: 2.4rem;
  }
}
